table th {
  background-color: #CC3399;
  padding: 10px 20px;
}

table td {
  background-color: #CC99CC;
  padding: 10px 20px;
}

.notice {
  background-color: red;
  padding: 5px;
}

h1 {
  background-color: #CC6666;
  color: white;
  height: 100px;
  text-align: center;
  padding: 20px;
}

